/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 48px;
    color: #cd6326;
}

h2 {
    font-size: 48px;
    color: #333333;
}

h3 {
    font-size: 3rem;
    font-weight: 300;
}

h4,
h5 {
    font-size: 2.8rem;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

button {
    padding: 2rem 6rem;
    background: #43638a;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}
button:hover {
    background: #3a5677;
}

/* Nav Section With HERO */

.main-head {
    background-color: #131c27;
    color: white;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo {
    flex: 2 1 40rem;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
}

#logoimage {
    height: 58.426902770996094px;
    width: 68.19941711425781px;
    left: 1.0738983154296875px;
    top: 0.8038845062255859px;
    border-radius: px;
}

.main-page {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0), transparent),
        url("img/Rectangle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h3 {
    padding: 3rem;
}

/* BLOG SECTION */

#blog {
    min-height: 100vh;
    background: linear-gradient(#064b7a, transparent),
        url("img/pexels-pixabay-210186.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: center;
    padding-top: 3rem;
}

/* CONTACTS SECTION */

.contacts-head {
    background: #343c44;
    padding: 3rem;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.contacts-head h3 {
    padding: 1rem;
}

.cards {
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    flex: 1 1 25rem;
    min-height: 40vh;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.cards img {
    max-width: 15%;
    margin: 2rem;
}

.card h4,
.card p {
    padding: 3rem;
}

.card-icon {
    background: #5997c9;
}

#deer {
    background: url("img/RectangleDeer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#squirell {
    background: url("img/RectangleSquirrel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#bird {
    background: url("img/RectangleBird.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#sign-in {
    min-height: 100vh;
    background: linear-gradient(#2f6896, transparent),
        url("img/pexels-lisa-fotios-1107717.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    background: rgba(19, 28, 39, 0.8);
    width: 60%;
    color: white;
    border-radius: 20px;
}

.form-head {
    text-align: center;
    padding: 4rem;
}

.name-form,
.email-form {
    padding: 3rem;
    text-align: center;
}

.form-wrapper label {
    margin: 0rem 3rem;
}

.form-wrapper button {
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-wrapper input {
    padding: 1rem 3rem;
}

footer {
    color: white;
    background: rgba(19, 28, 39, 1);
}

.footer-wrapper {
    display: flex;
    padding: 2rem;
    margin: auto;
    justify-content: center;
}

/* Media Query */
@media screen and (max-width: 932px) {
    nav {
        text-align: center;
    }
    #logo {
        padding: 1rem;
    }
}
