body {
    font-family: "Open Sans", sans-serif;
}

#page_1 {
    min-height: 100vh;
    background: url("img/Fox.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#head {
    display: flex;
    color: white;
}

#logo-img {
    left: 1.53%;
    right: 1.04%;
    top: 1.34%;
    bottom: 1.28%;
}

#logo-text {
    font-family: "Roboto", sans-serif;
}

#paragraph {
    color: white;
}
